*.log
*.pyc
.DS_Store
.idea/*
.vscode/*
*.dump
*.sql
.__pycache__/*
.pytest_cache/
.ruff_cache/
.import_linter_cache/
.mypy_cache/
.complexipy_cache/

.env
/src/staticfiles
/src/mediafiles
/src/config/.env

docker-compose.override.yaml
BACKLOG.md
